.page-product {
    width: 89%;
    margin: 0 auto;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    padding-bottom: 70px;

    .wrapper-products-page-nav {
        background: #F8F8F8;

        .products-page-nav {
            width: 100%;
            height: 32px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;

            .products-page-nav_page {
                a {
                    text-decoration: none;
                    span {
                        color: black;
                        opacity: 60%;
                    }
                }
            }

            .products-page-nav_share {
                width: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .wrapper-page-products_title {
        background: #F8F8F8;

        .products-page_title {
            width: 89%;
            height: 70px;
            font-size: 26px;
            font-weight: bold;
            margin: 0 auto;
            text-align: center;
            padding-top: 10px;
        }
    }
    .wrapper-rating {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background: #F8F8F8;

        span {
            font-size: 11px;
            margin: 0 10px;
            opacity: 60%;
        }

        .wrapper-rating_availability {
            width: 250px;
            font-size: 11px;
            display: flex;

            .text {
                opacity: 100%;
                font-weight: bold;
            }
        }
    }
    .wrapper-product-information {
        display: flex;
        padding-top: 30px;
        justify-content: center;
        flex-wrap: wrap;

        .product-information-img  {
            width: 50%;
            min-width: 560px;
        }
        @media screen and (max-width: 580px) {
            .product-information-img {
                min-width: calc(215px + (560 -215) * ((100vw - 320px) / (1200 - 320))); 
            }
        }

        .product-information-information {
            width: 50%;
            min-width: 460px;
            padding-left: 20px;

            .text {
                opacity: 60%;
            }
            .text1 {
                font-weight: bold;
                padding-left: 10px;
            }

            .product-information-color-img {
                width: max-content;
                display: flex;
                padding: 20px 0;

                img {
                    width: 64px;
                    height: 64px;
                    margin-right: 20px;
                    cursor: pointer;
                }
            }

            .product-information-size {

                .text {
                    padding-left: 10px;
                }

                .product-information-size-btn {
                    width: max-content;
                    display: flex;
                    padding: 20px 0;

                    .size-btn {
                        width: min-content;
                        height: 40px;
                        background: #F8F8F8;
                        font-weight: bold;
                        margin-right: 20px;
                        text-align: center;
                        padding: 5px;
                        cursor: pointer;

                        input {
                            width: 40px;
                            height: 40px;
                            display: none;
                        }
                    }
                }

                .button {
                    width: max-content;
                    height: 24px;
                    background: #F8F8F8;
                    border: none;
                }

                .product-information-price {
                    padding: 35px 0;
                    text-align: center;
                    border-top: 2px solid #E5E5E5;
                    border-bottom: 2px solid #E5E5E5;
                    display: flex;
                    justify-content: space-around;

                    .product-price {
                        display: inline-block;

                        .card-product-price {
                            min-width: 100px;
                            font-size: 22px;
                            font-weight: bold;
                            margin: 0;
                            padding-right: 10px;
                        }
                        .active {
                            font-size: 15px;
                            opacity: 40%;
                        }
                    }

                    .product-images {
                        display: inline-block;
                    }
                 
                    button {
                        width: 160px;
                        height: 48px;
                        color: #ffff;
                        background: #121212;
                        border: none;
                        cursor: pointer;

                        .text-button {
                            font-size: 13px;
                        }
                    }
                    
                    img, button, span {
                        margin: 0 10px;
                    }
                }
            }
            .product-information-services {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                margin: 20px 0;

                div {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 10px;
                    }
                    span {
                        opacity: 60%;
                    }
                }
            }
            .product-information-pay {
                border-top: 2px solid #E5E5E5;
                border-bottom: 2px solid #E5E5E5;

                .title {
                    font-weight: bold;
                }
                img {
                    width: 95%;
                    padding: 20px 0;
                }
            }
            .product-information-description {
                padding: 30px 0;
                button {
                    border: none;
                    background: none;
                    opacity: 60%;
                }
            }
            .product-information-additional {
                border-top: 2px solid #E5E5E5;
                border-bottom: 2px solid #E5E5E5;
                padding: 20px 0;

                .title {
                    font-weight: bold;
                    padding: 15px 0;
                }
                span {
                    display: block;
                    padding: 7px 0;
                }
                div {
                    display: flex;
                }
            }
            .product-information-reviews {
                border-bottom: 2px solid #E5E5E5;
                margin: 30px 0;

                .title {
                    font-weight: bold;
                }
                .reviews-rating {
                    display: flex;
                    justify-content: space-between;

                    .reviews-rating-stars {
                        width: 100px;
                        img {
                            margin: 2px;
                        }
                    }

                    div {
                        display: flex;
                        align-items: center;
                        padding: 30px 0;

                        img {
                            margin: 0 10px;
                        }
                        span {
                            opacity: 60%;
                        }
                    }
                    
                    .review-button {
                        border: none;
                        background: none;
                        cursor: pointer;
                    }
                }
                .reviews-rating2 {
                    display: flex;
                    justify-content: space-between;
                }
                .reviews-rating2-text {
                    font-size: 14px;
                    opacity: 80%;
                    padding: 10px 0 40px 0;
                }
            }
        }
        @media screen and (max-width: 500px) {
            .product-information-information {
                min-width: calc(250px + (460 - 250) * ((100vw - 320px) / (1280 - 320))); 
                padding-left: 0;
            }
        }
    }

    .related-products {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 40px;

        .related-products-btn {
            width: 88px;
            display: flex;
            justify-content: space-between;
            
            button {
                border: none;
                background: none;
                cursor: pointer;
            }
        }
    }
}

