.container-top-bar {
    background: #000;
    width: 100%;
    margin: 0 auto;

    .top-bar {
        width: 89%;
        height: 24px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .top-bar_contacts {
            width: 480px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .top-bar-tel, .top-bar-location, .top-bar-clock {
                img {
                    margin: 0 5px;
                }
                span {
                    font-family: 'Spartan';
                    color: #fff;
                    font-size: 11px;
                }
            }
            @media screen and (max-width: 620px) {
                .top-bar-tel, .top-bar-location, .top-bar-clock {
                    width: 100%;
                    min-width: 190px;
                }
            }
            .top-bar-location {
                span {
                    font-family: 'Inter';
                }
            }
        }
        @media screen and (max-width: 500px) {
            .top-bar_contacts {
                width: calc(320px + (480 - 320) * ((100vw - 320px) / (500 - 320)));
                flex-wrap: wrap;
            }
        }
    }
    @media screen and (max-width: 996px) {
        .top-bar {
            height: calc(100px + (24 - 100) * ((100vw - 320px) / (996 - 320)));
        }
    }
}