.container-subscribe {
    width: 100%;
    height: 580px;
    background: linear-gradient(to top, #F3F2F2, #DCDBDB);
    margin-top: 90px;
    
    .subscribe-wrapper {
        position: relative;
        width: 89%;
        height: 580px;
        margin: 0 auto;
        display: flex;

        .subscribe-img-woman {
            background: url(../../assets/png/special-woman.png) center / contain no-repeat;
            width: 27%;
            left: 2%;
            position: relative;
            z-index: 5;
        }
        @media screen and (max-width: 850px) {
            .subscribe-img-woman {
                display: none;
            }
        }

        .subscribe-form {
            position: absolute;
            z-index: 1;
            left: 50%;
            transform:translate(-50%, 0);
            width: 47%;
            min-width: 300px;
            height: 461px;
            margin-top: 5%;
            padding: 70px 0;
            background: #fff;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .subscribe-form_text {
                font-family: 'Spartan';
                font-size: 12px;
                text-transform: uppercase;
                text-align: center;
                
                .title {
                    font-weight: bold;
                    opacity: 40%;
                }
                .text {
                    font-weight: bold;
                    font-size: 26px;
                    margin-top: 20px;
                }
                @media screen and (max-width: 1220px) {
                    .text {
                        margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1300 - 320)));
                        font-size: calc(16px + (26 - 16) * ((100vw - 320px) / (1300 - 320)));
                    }
                }
            }

            .subscribe-form_form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                height: 152px;
                align-content: space-between;

                .subscribe-error, .subscribe-noerror {
                    display: block;
                    width: 100%;
                    margin: 5px 0;
                    text-align: center;
                    font-family: 'Spartan', sans-serif;
                    font-size: 12px;
                    color: red;
                }

                .subscribe-noerror {
                    color: green;
                }

                input, .button {
                    width: 64%;
                    height: 64px;
                    background: #121212;
                    border: none;
                    color: #fff;
                    font-size: 16px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    opacity: 90%;
                    display: block;
                } 

                .button {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                .active {
                    background: rgb(94, 94, 94);
                }

                input {
                    color: #000;
                }

                @media screen and (max-width: 1220px) {
                    input, button {
                        height: calc(34px + (64 - 34) * ((100vw - 320px) / (1300 - 320)));
                        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1300 - 320)));
                    }
                }
            
                input {
                    background: #F8F8F8;
                    text-transform: none;
                    text-align: center;
                    opacity: 40%;
                }
            }
            @media screen and (max-width: 1220px) {
                .subscribe-form_form {
                    height: calc(80px + (152 - 80) * ((100vw - 320px) / (1300 - 320)));
                }
            }
        }

        @media screen and (max-width: 1220px) {
            .subscribe-form {
                height: calc(250px + (461 - 250) * ((100vw - 320px) / (1300 - 320)));
                padding-top: calc(35px + (70 - 35) * ((100vw - 320px) / (1300 - 320)));
                padding-bottom: calc(35px + (70 - 35) * ((100vw - 320px) / (1300 - 320)));
            }
        }

        .subscribe-img-man {
            background: url(../../assets/png/special-man.png) center / contain no-repeat;
            width: 20%;
            position: relative;
            left: 44%;
            z-index: 5;
        }
        @media screen and (max-width: 850px) {
            .subscribe-img-man {
                display: none;
            }
        }
    }
    @media screen and (max-width: 1220px) {
        .subscribe-wrapper {
            height: calc(350px + (580 - 350) * ((100vw - 320px) / (1300 - 320)));
        }
    }
}
@media screen and (max-width: 1000px) {
    .container-subscribe {
        margin-top: calc(35px + (90 - 35) * ((100vw - 320px) / (1300 - 320)));
        height: calc(350px + (580 - 350) * ((100vw - 320px) / (1300 - 320)));
    }
}