.wrapper-header-nav-menu {
    .header-nav-menu, .burger-menu, .menu-nav {
        width: 89%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .header-nav-logo {
            font-family: 'Playfair Display SC';
            font-size: 24px;
            text-decoration: none;
            font-weight: 400;
            color: #000;
        }
    
        .burger-menu {
            width: 53%;
            list-style-type: none;
            padding: 0;
            margin: 10px;
    
            .menu-item {
                text-decoration: none;
                color: #000;
                font-family: 'Spartan';
                font-size: 14px;
            }
        }

        @media screen and (max-width: 996px) {

            .burger-menu {
                position: absolute;
                z-index: 20;
                top: calc(220px + (83 - 220) * ((100vw - 320px) / (996 - 320)));
                left: 0;
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 0;
                padding-left: 10%;
                background: rgba(255, 255, 255, 0.9);
                transform: translateX(-100%);
                transition: transform 0.7s;
    
                .menu-item {
                    margin: 25px 0;
                    font-weight: bold;
                    font-size: 16px;
                }
            }

            .burger-menu.visible {
                transform: translateX(0);
                transition: transform 0.7s;
            }
        }

        .menu-nav {
            width: 129px;
            margin: 10px;

            .burger-menu-btn {
                display: none;
                border: none;
                background: none;
                flex-direction: column;
                justify-content: space-evenly;
                width: 35px;
                height: 35px;
                cursor: pointer;
                user-select: none;
            
                .line {
                    width: 100%;
                    height: 3px;
                    background: rgba(0, 0, 0, 0.6);
                    transition: all 0.3s ease-in-out;
                }
            }
            @media screen and (max-width: 996px) {
                .burger-menu-btn {
                    display: flex;
                }
            }
            
            .burger-menu-btn.visible {
                .line1 {
                    transform: rotate(-45deg) translate(-8px, 10px);
                }
            }
              
            .burger-menu-btn.visible {
                .line2 {
                    opacity: 0;
                }
            }
              
            .burger-menu-btn.visible {
                .line3 {
                    transform: rotate(45deg) translate(-3px, -6px);
                }
            }
        }
        @media screen and (max-width: 996px) {
            .menu-nav {
                width: 220px;
            }
        }
    }

    @media screen and (max-width: 996px) {
        .header-nav-menu {
            height: calc(120px + (60 - 120) * ((100vw - 320px) / (996 - 320)));
        }
    }
    
    @media screen and (max-width: 450px) {
        .header-nav-menu {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 996px) {
    .wrapper-header-nav-menu {
        background: #F8F8F8;
    }
}